/* .clients_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 200px;
} */

.clients_container {
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 200px;
}
.clients_container >* {
    max-width: 280px;
    min-width: 250px;
    flex: 1 1 120px;
}

.client_card_container{
    background: white;
    padding: 2rem;
    border: 2px solid #E1E1E1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: #ADADAD;
}
.client_logo{
    width: 100%;
}

.clientName {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    
}



.contact_info {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.contact_icon {
    width: 1.4rem;
    margin-right: 10px;
}

.client_detail_button {
    margin-top: 20px;
    border: none;
    background: #36ABFF;
    color: white;
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: 300ms;
}

.client_detail_button:hover{
    background: #2b98e6;
    cursor: pointer;
    transition: 300ms;
}

.client_detail_button:active{
    background: #1e76b4;
    cursor: pointer;
}


.add_client_card{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23CBCBCBFF' stroke-width='11' stroke-dasharray='17 31' stroke-dashoffset='34' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 20px;
    
}
