/* .clients_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 200px;
} */

.clients_container {
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 200px;
}
.clients_container >* {
    max-width: 280px;
    min-width: 220px;
    flex: 1 1 120px;
}

.client_card_container{
    background: white;
    padding: 2rem;
    border: 2px solid #E1E1E1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: #ADADAD;
}
.client_logo{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 1px #ADADAD solid;
    border-radius: 5px;
}

.clientName {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    
}



.contact_info {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.contact_icon {
    width: 1.4rem;
    margin-right: 10px;
}

.client_detail_button {
    margin-top: 20px;
    border: none;
    background: #36ABFF;
    color: white;
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: 300ms;
}

.client_detail_button:hover{
    background: #2b98e6;
    cursor: pointer;
    transition: 300ms;
}

.client_detail_button:active{
    background: #1e76b4;
    cursor: pointer;
}


.add_client_card{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23CBCBCBFF' stroke-width='11' stroke-dasharray='17 31' stroke-dashoffset='34' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 20px;
    
}

.client_detail_container {
    display: flex;
    width: 100%;
    padding: 2rem;
    border: 2px solid #E1E1E1;
    background:white;
    border-radius: 20px;
    margin-top: 2rem;
    color: #ADADAD;
    margin-bottom: 300px;
}
.new_client_form {
    display: flex;
}

.form_field.image{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.logo_container{
    margin-left: 2rem;
}
.logo_preview{
    object-fit: cover;
    background: rgb(235, 235, 235);
    width: 220px;
    height: 160px;
}

.new_client_form input {
    font-family: 'inter', sans-serif;
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px solid #E1E1E1; 
}
.new_client_form input:focus{
    outline: none !important;
    border: 2px solid #36ABFF;
}

/* CLIENT DETAIL STYLING*/


.client_detail_form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.client_detail_form input {
    width: 100%;
    font-family: 'inter', sans-serif;
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px solid #E1E1E1; 
}

.client_detail_form input:focus{
    outline: none !important;
    border: 2px solid #36ABFF;
}

.client_detail_form label {
    font-size: 1.2rem;
}

.client_detail_form_right {
   margin-left: auto;
   align-items: center;
   padding-left: 1rem;
}

.align_div {
    align-items: flex-start;

}

.form_field.buttons{
    display: flex;
    width: 100%;
    justify-content: right;
}

.logo_preview {
    background: url("https://i.ibb.co/r2P5Z7X/image-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px #E1E1E1 solid;
    border-radius: 5px;
}

.client_delete {
    background: #FF7337;
    width: 20%;
    margin-right: 20px;
    border: none;
    color: white;
}

.update_client_button {
    margin-top: 140px;
    border: none;
    width: 50%;
    background: #36ABFF;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: 300ms;
    text-align: center;
    text-decoration: none;
}
.update_client_button:hover{
    cursor: pointer;
    background: #1f8bd8;
}
.update_client_button:active{
    cursor: pointer;
    background: #1467a3;
}

.delete_client_button {
    margin-right: 20px;
    margin-top: 140px;
    border: none;
    width: 30%;
    background: #cecece;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: 300ms;
    text-align: center;
    text-decoration: none;
}

/* CLIENT CUSTOMER BASE*/

.default_container.customer_list{
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
}

.customer_elem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid #E1E1E1;
    background:white;
    border-radius: 5px;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0.5rem;
    transition: 300ms;
    
}

.customer_elem.active{
    
    transition: 300ms;
}

.detail_holder {
    transition: 300ms;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(7, 1fr);
}

.detail_holder p {
    font-size: 0.8rem;
}

.details_buttons {
    grid-column-start: 7;
    padding-bottom: 0.5rem;
}

.opentest {
    color: rgb(39, 155, 238);
    font-size: 0.8rem;
}

.opentest:hover {
    cursor: pointer;
} 
.header_details {
    color: #989898;
}

.save_details {
    margin-left: 10px;
    background: #2b98e6;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 3px;
}

.policy_detail {
    padding-bottom: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.policy_detail p {
    font-size: 0.8rem;
}

.no_policy_notice {
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
}
/* .delete_client_button:hover{
    cursor: pointer;
    background: #df5a21;
}
.delete_client_button:active{
    cursor: pointer;
    background: #df5a21;
} */






@media (max-width: 1440px) {
    .clients_container {
        justify-content: right;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;
        width: 100%;
        margin-bottom: 200px;
    }
    .clients_container >* {
        max-width: 250px;
        min-width: 220px;
        flex: 1 1 120px;
    }
    .client_card_container{
        font-size: 1.2rem;
        background: white;
        padding: 2rem;
        border: 2px solid #E1E1E1;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        color: #ADADAD;
    }

    
    .contact_info{
        font-size: 0.9rem;
    }

    .clientName {
        font-size: 1.2rem;
    }
  }
