.dashboard {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}


@media (max-width: 1500px) {
    .dashboard {
        margin-top: 1rem;
        gap: 1rem;
        
    }
  }